<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="views/running.png" type="image/icon type">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-auto grid grid-rows-3 ">
        <div class="w-auto row-start-2 grid grid-cols-6 gap-2 ">
            <div class="col-start-3 col-span-2 text-blue-600 border-2 hover:drop-shadow-md rounded">
                <div class="m-3 p-5">
                    <%- include("header.ejs") %>
                    <p class="m-3 px-2"> Welcome to <%- title %></p>
                    <p class="m-3 px-2">Create a account <a class="text-green-500 hover:text-gray-600" href="/signup">SignUp</a></p>
                    <p class="m-3 px-2">Create a account <a class="text-green-500 hover:text-gray-600" href="/login">login</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>