<%- include("header.ejs",{title,csrfToken}) %>
<h1 class="text-2xl text-blue-400">Edit Sport</h1>
<%- include("errorNotification.ejs",{messages}) %> <%-
include("nameform.ejs",{postAddress: `/sports/${sportId}/edit`, Name :
"EditSport", csrfToken, value: sportName, label: "What is the New sports name"})
%> <%- include("footer.ejs") %>
