<%- include("errorNotification.ejs",{messages}) %>
<form action="/updatepassword" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="block-auto my-3">
        <label class="text-sm">Current Password</label>
        <input
          class="rounded border-2 text-sm p-2 w-full"
          type="password"
          name="currentPassword"
          placeholder="current password"
        />
      </div>
    <div class="block-auto my-3">
        <label class="text-sm">New Password</label>
        <input
          class="rounded border-2 text-sm p-2 w-full"
          type="password"
          name="updatePassword"
          placeholder="new password"
        />
      </div>
    <div class="block-auto my-3">
        <label class="text-sm">Confirm Password</label>
        <input
          class="rounded border-2 text-sm p-2 w-full"
          type="password"
          name="confirmPassword"
          placeholder="confirm password"
        />
      </div>
    <button class="rounded px-4 my-3 bg-blue-500 text-white border-2 p-2 hover:bg-green-800" type="submit">update</button>
</form>